#scene { display: inline-block; position: relative; width: calc(100% - 512px); height: calc(100% - 32px - 128px); background-color: #111;}
	#scene > img { display: block; position: absolute; width: 80px; cursor: pointer;}
	#scene > img.selected { }
